{% extends 'base.html' %}

{% block bodycontent %}
    <h1>Terms:</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequuntur impedit mollitia porro eos dolorum nobis voluptatum expedita. Explicabo, pariatur itaque. Voluptatem, quod nam. Maxime fugiat necessitatibus laudantium architecto non!</p>
    <h1>Conditions:</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic magnam nam nobis minus similique, vitae quod earum officiis totam fugit ut, eaque omnis consequatur voluptatibus velit esse laboriosam a? Unde.</p>
{% endblock bodycontent %}