<body>
  {% extends 'base.html' %} {% block stylecontent %}
  <style>
  

    #details_box {
      font-size: 23;

      left: 30px;
    }

    #details_table {
      font-size: 20;
      position: relative;
      align-items: center;
    }

    #edit_details {
      top: 10px;
      left: 20px;
    }

  </style>
  {%endblock%} {% block bodycontent %} {% csrf_token %} 
  {% if user.is_authenticated %}
 <div class="container">
    <div class="row">
    <div class="col-12 col-md-8">
  <form
    name="acc_management"
    id="acc_management"
    action="process_account_action"
  >
    <input type="hidden" name="account_action" id="account_action" />
    <table width="100%" class="mb-5">
      <tr>
        <td>
          <div id="page_name" style="float: left" class="mb-5">
          <h1>Welcome {{ customer.customer_data.Name }}!</h1>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div id="details_box" align="center">
            <h4>Account Details :</h4>
            <table class="table table-striped" id="details_table">
              <tr>
                <td>Customer Name: {{ customer.customer_data.Name }}</td>
              </tr>
              {% if accounts %} 
              {% for accno, acc_obj in accounts.items %}
              <tr>
                <td>Account number : {{ accno }}</td>
              </tr>
              <tr>
                <td>Balance: {{ acc_obj.account_details.Balance }}</td>
              </tr>
              {% endfor %} 
              {% else %}
              <tr>
                <td>New Customer. No accounts yet.</td>
              </tr>
              {% endif %}
            </table>
          </div>
        </td>
      </tr>
    </table>

    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}

    <button onclick="set_account_action('create')" class="btn btn-outline-success">Create New Account</button>
    <br />
    <br>
    Close Account?
    <input name="close_accno" id="close_accno" />
    <br>
    <br>
    <button
      onclick="set_account_action('close');check_valid_accno()"
      type="button"
      class="btn btn-outline-danger"
    >
      Close Account
    </button>
    <!-- Setting button type = "button" so that form does not submit on button click -->
    <span id="err_msg"> <b> </b> </span>
  </form>
</div>
<div class="col-12 col-md-4">
    <img src="https://img.freepik.com/free-vector/linear-flat-internet-banking-infographics-template-icons-website-hero-image-vector-illustration_126523-2982.jpg" class="my-auto" style="width: auto; height: fit-content;">
</div>
</div>
</div>
  <script>
    function set_account_action(account_action_val){
        hidden_field = document.getElementById("account_action");
        hidden_field.setAttribute("value", account_action_val);
     }

     function check_valid_accno(){
        accno = document.getElementById("close_accno").value;
        accno_int = parseInt(accno);
        valid_accounts = {{can_close_accnos}};
        invalid_accno = true;

        for(accno of valid_accounts){
            if(accno_int == accno){
                form_elem = document.getElementById("acc_management");
                form_elem.submit();
                invalid_accno = false;
            }
        }

        if(invalid_accno){
            err_msg_tag = document.getElementById("err_msg");
            err_msg_tag.textContent = "Invalid Account Number! User does not own this account";
        }
        /*
        if(accno_int in valid_accounts){
        //Checking if accno exists in valid_accounts Javascript obj
            form_elem = document.getElementById("acc_management");
            form_elem.submit();
        }
        else{
            err_msg_tag = document.getElementById("err_msg");
            err_msg_tag.textContent = "Invalid Account Number! User does not own this account";
        }
        */
     }
  </script>

  {% endblock%}
</body>
