{% extends 'base.html' %}

{% block bodycontent %}
    <table class=table>
        <thead>
            <tr>
                <th>account_num</th>
                <th>name</th>
                <th>Phone No</th>
                <th>balance</th>
            </tr>
        </thead>
        {% for account in data  %}
            <tr>
                <td>{{account.Accno}}</td>
                <td>{{account.Owner.Name}}</td>
                <td>{{account.Owner.Phone_no }}</td>
                <td>{{account.Balance}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock bodycontent %}