<body>

    {% extends 'base.html' %}
    
    {% load static %}
    
    {% block stylecontent %}
    <style>

        #page_name {
            font-size: 25;
        }
        
        #details_box {
            font-size: 23;

        }
        
        #details_table {
            font-size: 20;

            align-items: center;
        }
        

        

    </style>
    {%endblock%}
    
    {% block bodycontent %}
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div class="container">
                <h1> Welcome {{ customer.customer_data.Name }}!</h1>

         <form name="stat_gen" action="get_stat_gen"> 
            <input type="hidden" name="account_action" id="account_action">
            <tr>
                <td>
                    <p>Which type of transactional acitivity you want to see?</p><br>
                </td>
                <td>
                      <div class="btn-group">
                    <button onclick="set_account_action('all')" class="btn btn-outline-success"> All </button>    
                    <button onclick="set_account_action('withdraw')" class="btn btn-outline-success"> Withdraw </button>   
                    <button onclick="set_account_action('deposit')" class="btn btn-outline-success"> Deposit </button>    
                      </div>
                </td>
            </tr>
            <table class="w-100">
    
                <tr>
                    <td>
                        <div id="details_box" align="center">
                            <h4 class="m-3">Transaction Details :</h4>
                            <table class="table table-striped shadow" id="trans_details_table" cellpadding=5px; width="100%">
                                <tr>
                                    <td>Trans_ID</td>
                                    <td>From_Acc</td>
                                    <td>To_Acc</td>
                                    <td>Amount</td>
                                    <td>Type</td>
                                    <td>By</td>
                                </tr>
                                {% comment %} {% if accounts %}
                                    {% for accno, trans_obj_list in transaction.items %}
                                        {% if transaction and msg != 'filter'%}
                                            {% for trans_obj in trans_obj_list %}
                                                <tr>
                                                    <td>{{trans_obj.trans_id}}</td>
                                                    <td>{{ accno }}</td>
                                                    <td>{{trans_obj.trans_details.Amount}}</td>
                                                    <td>{{trans_obj.trans_details.Type}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            {% for trans_obj in trans_obj_list %}
                                                <tr>
                                                    <td>{{trans_obj.Trans_ID}}</td>
                                                    <td>{{ accno }}</td>
                                                    <td>{{trans_obj.Amount}}</td>
                                                    <td>{{trans_obj.Type}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr> <td> New Customer. No accounts yet. </td></tr>
                                {% endif %} {% endcomment %}
                                {% if accounts %}
                                    {% for accno, trans_obj_list in transaction.items %}
                                        {% if transaction and msg != 'filter'%}
                                            {% for trans_obj in trans_obj_list %}
                                                <tr>
                                                    <td>{{trans_obj.trans_id}}</td>
                                                    {% if trans_obj.trans_details.same  %}
                                                        {% if trans_obj.trans_details.Type == 'withdraw' %}
                                                            <td>{{ accno }}</td>
                                                            <td> -- </td>
                                                        {% else %}
                                                            <td> -- </td>
                                                            <td>{{accno}}</td>
                                                        {% endif %}
                                                    {% else %}
                                                            <td>{{accno}}</td>
                                                            <td>{{trans_obj.trans_details.To_Acc}}</td>
                                                    {% endif %}
                                                    {% comment %} <td>{{accno}}</td>
                                                    <td>{{trans_obj.trans_details.To_Acc}}</td> {% endcomment %}
                                                    <td>{{trans_obj.trans_details.Amount}}</td>
                                                    <td>{{trans_obj.trans_details.Type}}</td>
                                                    {% if trans_obj.trans_details.same %}
                                                        <td>Cash</td>
                                                    {% else %}
                                                        <td>Transfer</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            {% for trans_obj in trans_obj_list %}
                                                <tr>
                                                    <td>{{trans_obj.Trans_ID}}</td>
                                                    {% if trans_obj.same  %}
                                                        {% if trans_obj.Type == 'withdraw' %}
                                                            <td>{{ accno }}</td>
                                                            <td> -- </td>
                                                        {% else %}
                                                            <td> -- </td>
                                                            <td>{{accno}}</td>
                                                        {% endif %}
                                                    {% else %}
                                                            <td>{{accno}}</td>
                                                            <td>{{trans_obj.To_Acc}}</td>
                                                    {% endif %}
                                                    <td>{{trans_obj.Amount}}</td>
                                                    <td>{{trans_obj.Type}}</td>
                                                    {% if trans_obj.same %}
                                                        <td>Cash</td>
                                                    {% else %}
                                                        <td>Transfer</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr> <td> New Customer. No accounts yet. </td></tr>
                                {% endif %}
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
        
        
        </form>
    </div>
        <script>
        function set_account_action(account_action_val){
            hidden_field = document.getElementById("account_action");
            hidden_field.setAttribute("value", account_action_val);
         }
         </script>
        
    {% endblock%}
    
    </body>
