<body>
    {% extends 'base.html' %}
    {% load static %}
    
    {% block stylecontent %}
    <style>
     
        #page_name {
            font-size: 25;
        }
        
        #details_box {
            font-size: 23;
   
        }
        
        #details_table {
            font-size: 20;
            padding: 20px;
            align-items: center;
        }
        form{
            border: 2px solid #000;
            border-radius: 12px;
            padding: 3rem;
        }

    </style>

    {%endblock%}
    
    {% block bodycontent %}
 
<div class="container">
<h1 color="#3399ff">Transfer</h1>
<br>

    <div class="row">

                <div class="col-12 col-md-6 my-auto">
                    <form method="POST" class="shadow">
                        <table id="details_table" cellpadding="10px">
                            {% csrf_token %}
                            <tr>
                                <td>Amount to be transfered : 
                                    <br>
                                    <br>
                                    <input type="text" name="amount" placeholder="Amount"></td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="from_ac">Choose an account: </label>
                                    <select name="from_acc">
                                        <option value="none" selected disabled hidden>accounts</option>
                                        {% for account in accounts %}
                                            <option value="{{account}}">{{account}}</option>
                                        {% endfor %}
                                </select>
                                </td>
                            </tr>

                            <tr>
                                <td> To account : <input type="text" name="to_acc" placeholder="Account number"></td>
                            </tr>

                            <tr>
                                <td><button class="btn btn-outline-success">transfer</button></td>
                            </tr>
                            <tr>
                                <td><span>{{msg|safe}}</span></td>
                            </tr>
                            <tr>
                                <td> <small>By transferring money from your account, you agree to the <a href="{% url 'accounts:tnc' %}">Terms and Conditions</a> of amount transfer</small>. <br></td>
                            </tr>
                        </table>
                    </form>

                </div>
                <div class="col-12 col-md-6">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_XHSU3xc4i9.json"  background="transparent"  speed="1"  style="width: auto; height: auto;"  loop  autoplay></lottie-player>
                </div>
            </div>
        </div>
    {% endblock%}
</body>